<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shards.min.css">
</head>
<body>
<br/><br/>
<h2>Подтверждение по почте прошло успешно.</h2>
<br/><br/>
<div class="text-center m-3">
    <h5>Copyright &copy; DevBlog.com</h5>
</div>
</body>
</html>
